.navbar {
    background-color: #FEEAA1;
    width: 80%;
    margin: 24px auto;
    border-radius: 18px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    padding: 24px 32px;
}

.navbar a {
    color: #18534F;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.15 rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 20px;
}

.profile {
    margin-left: auto;
    margin-right: 20px;
}